In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('checkins.dat', sep='|', header=0, skipinitialspace=True)
data.dropna(inplace=True)

In [12]:
data.shape

(396634, 6)

In [24]:
data.head()

,id,user_id,venue_id,latitude,longitude,created_at
2,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
4,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
8,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
10,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
11,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18

In [50]:
data.iloc[:, 3:5].values

array([[  38.8951118,  -77.0363658],
       [  33.800745 ,  -84.41052  ],
       [  45.5234515, -122.6762071],
       ...,
       [  42.7653662,  -71.467566 ],
       [  42.439479 ,  -83.7438303],
       [  42.331427 ,  -83.0457538]])

In [56]:
k = 100000
X = data.iloc[:k, 3:5].values
X.shape

(100000, 2)

In [52]:
from sklearn.cluster import MeanShift
import numpy as np

In [57]:
ms = MeanShift(bandwidth=0.1)
model = ms.fit(X)

In [62]:
import matplotlib.pyplot as plt
from itertools import cycle

In [63]:
labels = ms.labels_
cluster_centers = ms.cluster_centers_
labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)

print("number of estimated clusters : %d" % n_clusters_)

number of estimated clusters : 3231

In [97]:
val, counts = np.unique(labels, return_counts=True)

labels_new = [l for l in val if counts[l] > 15]
new_list_of_centres = cluster_centers[labels_new]
len(new_list_of_centres)

592

In [101]:
ccl = {'latitude' : [33.751277, 25.867736, 51.503016, 52.378894, 39.366487, -33.868457], 
      'longitude' : [-118.188740, -80.324116, -0.075479, 4.885084, 117.036146, 151.205134]}
df_cruise = pd.DataFrame(ccl)

carivalOffice = df_cruise.values

In [105]:
cluster_centers

array([[  40.7177164 ,  -73.99183542],
       [  33.44943805, -112.00213969],
       [  33.44638027, -111.90188756],
       ...,
       [ -37.8229826 ,  145.1811902 ],
       [ -41.2924945 ,  174.7732353 ],
       [ -45.0311622 ,  168.6626435 ]])

In [113]:
from numpy import linalg
#ищем 20 кластерных центров наиболее близких к офисам
result_dist = []
countertmp = 0

for tmp in cluster_centers:
    if tmp in new_list_of_centres:
        result_dist.append([countertmp, min(linalg.norm(carivalOffice - tmp, axis=1))])  
    countertmp += 1
# print(result_dist[:20])
result_dist = sorted(result_dist, key=lambda distance: distance[1])
# print(result_dist[:20])
for tmp in result_dist[:20]:
    print('расстояние - {}, координаты - {}'.format(tmp[1], cluster_centers[tmp[0]]))

расстояние - 0.007834758163107856, координаты - [-33.86063043 151.20477593]
расстояние - 0.009353316185992226, координаты - [52.37296399  4.89231722]
расстояние - 0.022674066158385495, координаты - [ 25.84567226 -80.3188906 ]
расстояние - 0.05005829482278787, координаты - [51.50299126 -0.12553729]
расстояние - 0.07084773242719973, координаты - [  33.80987796 -118.14892381]
расстояние - 0.13410903336184654, координаты - [ 25.78581242 -80.21793804]
расстояние - 0.16740596425035326, координаты - [ 25.70534972 -80.28342874]
расстояние - 0.18887596060185083, координаты - [ 26.01009825 -80.19999059]
расстояние - 0.19577945647763628, координаты - [  33.88832534 -118.04892817]
расстояние - 0.21181053682436798, координаты - [  33.87298601 -118.36209115]
расстояние - 0.2222332907317907, координаты - [  33.97257482 -118.16837067]
расстояние - 0.2713007595066735, координаты - [ 26.13884379 -80.33434684]
расстояние - 0.2949788868004569, координаты - [  33.98393587 -118.00740497]
расстояние - 0.3022701186924605, координаты - [ 26.12086266 -80.15890668]
расстояние - 0.30473050307840693, координаты - [  33.81730643 -117.89124917]
расстояние - 0.3148837903362732, координаты - [  34.06039755 -118.24870903]
расстояние - 0.3388104702511318, координаты - [  33.67430266 -117.85878927]
расстояние - 0.3408456533220572, координаты - [ 26.20058464 -80.25071613]
расстояние - 0.37868750125029754, координаты - [  34.03548695 -118.43899772]
расстояние - 0.3867062248427277, координаты - [  34.13146015 -118.11801181]